<div class = "container-fluid">

  <hr class="featurette-divider">

  <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">We offer premier eSports competition</h2>
        <p class="lead">EMG hosts Canada's largest and most prestigious events for fighting games. We create and broadcast memorable events that bring together eSports supporters from across the world.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="http://i.imgur.com/GTLeIc2.jpg" alt="Generic placeholder image">
      </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Excellent community engagement</h2>
      <p class="lead">Our presence is built through our community. As a player led organization, our goal is to always elevate the fan experience.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="http://i.imgur.com/YRvHd9Y.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Diverse competitive events</span></h2>
      <p class="lead">We understand how to create and organize events of varying scales. Our most celebrated events include the international major “Get On My Level”, regional competition “Revenge of the 6ix”,  and weekly series “Smash On Tap”.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://i.imgur.com/9dKLfoD.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  
</div>