<div class = "container-fluid">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">We offer premier smash competition</h2>
      <p class="lead">EvenMatchupGaming hosts Canada's largest and most prestegious events for Super Smash Bros. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas et expedita temporibus sint necessitatibus quo sunt harum accusantium mollitia enim. Labore, quo quos unde amet sapiente doloribus ad non eum.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://i.imgur.com/Npp8Vpr.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Excellent community engagement</h2>
      <p class="lead">Our presence is built through our community. We are a player led organization that always puts our local community first. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, accusamus, ullam, corrupti quam laboriosam fugiat odio atque enim odit est corporis minima soluta alias. Est, dolorum quod veritatis fugiat tempore.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="http://i.imgur.com/p857Lku.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Large scale competitive events</span></h2>
      <p class="lead">We host a regional tournament every month Revenge of the 6ix that caps off with our annual major international tournament Get On My Level. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, accusamus, cupiditate odio facilis id dignissimos tempora amet sed optio sit explicabo eaque dolor fugiat omnis sequi minus aliquam impedit voluptas!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="http://i.imgur.com/9dKLfoD.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  
</div>