<div class = "title-page">
  <div class = jumbotron>
    <h1>Big Placeholder Logo</h1>
    <br>
    <h2>Canadian esports team dedicated to growing SmashBros</h3>
    <p><a class="btn btn-default" href="/about" role="button">Learn More &raquo;</a></p>
  </div>
</div>
  
  
</div>


<div class = "container-fluid">

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class = "well">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://i.imgur.com/WutAwvW.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Sponsored Players</h2>
          <p>Our goal is to promote Canadian smash players to fans all around the world in the larger Smash community. Look out for our sponsored players in upcoming major Smash tournaments.</p>
          <p><a class="btn btn-default" href="/staff" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://i.imgur.com/8ZbT6Ad.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Video Content</h2>
          <p>We provide state of the art streams for all of our hosted events. Tune in to watch top Canadian Smash play, inciteful commentary and more information on upcoming events!</p>
          <p><a class="btn btn-default" href="/videos" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://i.imgur.com/ik7zsgU.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Local Events</h2>
          <p>We run Smash Bros tournaments out of Toronto, Ontario on a weekly, monthly and yearly basis. Come join us to connect with the Canadian Smash community</p>
          <p><a class="btn btn-default" href="/events" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
  </div>
</div>
<!-- Social media links --> 

<section id = "social-media">
  
   <hr class="featurette-divider">
  
    <h1>Stay connected with EvenMatchupGaming</h1>
    <h3>Follow us for our upcoming events and high quality content</h3>
  
    <div class = "row">
      <div class = "container">
      <div class = "col-md-6 col-lg-3 col-sm-6">
        <a href="http://facebook.com/evenmatchupgaming" class="fa fa-facebook">
          <h3>/EvenMatchupGaming</h3>
          <p>Latest events</p>
        </a>
    
      </div>
      <div class = "col-md-6 col-lg-3 col-sm-6">
        <a href="http://twitter.com/evenmatchup" class="fa fa-twitter">
          <h3>/EvenMatchup</h3>
          <p>Latest News</p>
        </a>
        
      </div>
      <div class = "col-md-6 col-lg-3 col-sm-6">
        <a href="http://youtube.com/evenmatchupgaming" class="fa fa-youtube">
          <h3>/EvenMatchupGaming</h3>
          <p>Newest videos</p>
        </a>
        
      </div>
      <div class = "col-md-6 col-lg-3 col-sm-6">
        <a href="http://twitch.tv/evenmatchupgaming" class="fa fa-twitch">
          <h3>/EvenMatchupGaming</h3>
          <p>Live Streams</p>
        </a>
        
      </div>
    </div>
  </div>
  
</div>
     
</section> 
     
  
