<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-12 col-md-12">
      <div class = "team-member">
        <div class = "team-profile-photo">
          <img src="http://i.imgur.com/CfdsUja.jpg" alt="Generic placeholder image">
        </div>
        <div class = "player-description">
          <h2>Vikram <span class = "player-tag">'Nightmare'</span> Bassi</h2>
          <div id = "player-social-media">
            <a href="https://www.facebook.com/profile.php?id=100011763427906&fref=ts" class="fa fa-facebook"></a>
            <a href="https://twitter.com/Nightmare6God" class="fa fa-twitter"></a>
            <a href="https://www.twitch.tv/nightmare6god" class="fa fa-twitch"></a>
          </div>
          <br>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, deserunt, repudiandae, nemo, laudantium perferendis necessitatibus cupiditate harum numquam molestias iusto atque alias ipsam iste rem eaque quaerat quae corrupti reiciendis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, rerum, molestiae ea voluptatibus est corrupti officiis dolorum deserunt. Deleniti, optio magni odit minus necessitatibus porro ex maxime expedita vel consectetur.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-lg-12 col-md-12">
      <div class = "team-member">
        <div class = "team-profile-photo">
          <img src="http://i.imgur.com/ucD6NMW.jpg" alt="Generic placeholder image">
        </div>
        <div class = "player-description">
          <h2>Edgard <span class = "player-tag">'n0ne'</span> Sheleby</h2>
          <div id = "player-social-media">
            <a href="https://www.facebook.com/elchelevi" class="fa fa-facebook"></a>
            <a href="https://twitter.com/n0ned" class="fa fa-twitter"></a>
            <a href="https://twitch.tv/n0ne13" class="fa fa-twitch"></a>
          </div>
          <br>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sequi voluptatum velit placeat laborum accusamus necessitatibus neque delectus cum aperiam. Reprehenderit, quas, sint magnam rem architecto dignissimos aliquid sed asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, rerum, molestiae ea voluptatibus est corrupti officiis dolorum deserunt. Deleniti, optio magni odit minus necessitatibus porro ex maxime expedita vel consectetur.</p>
        </div>
      
      </div>
    </div>
  </div>
  
  <div class = "row">
    <div class = "col-lg-12 col-md-12">
      <div class = "team-member">
        <div class = "team-profile-photo">
          <img src="http://i.imgur.com/m5FYLCB.jpg" alt="Generic placeholder image">
        </div>
        <div class = "player-description">
          <h2>Aaron <span class = "player-tag">'Blacktwins'</span> Grandison-Vargas </h2>
          <div id = "player-social-media">
            <a href="https://www.facebook.com/aaron.grandisonvargas" class="fa fa-facebook"></a>
            <a href="https://twitter.com/blacktwins" class="fa fa-twitter"></a>
            <a href="https://twitch.tv/n0ne13" class="fa fa-twitch"></a>
          </div>
          <br>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, debitis, placeat aliquid quae ducimus corporis optio voluptatum magnam consectetur necessitatibus nemo ipsam voluptatem quidem eaque culpa fugit doloremque omnis quas.Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, rerum, molestiae ea voluptatibus est corrupti officiis dolorum deserunt. Deleniti, optio magni odit minus necessitatibus porro ex maxime expedita vel consectetur.</p>
        </div>
      
      </div>
    </div>
  </div>
  
</div>