<section id = "videos">
  <div class = "container-fluid">
    <div class = "row">
      
      <div class = "col-lg-4 col-sm-12">
        <div class = "well">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/mBAZRqgY1PY" frameborder="0" allowfullscreen></iframe>
           <h3>Top plays of 2016 Melee</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, ab, eos nam error eligendi labore excepturi suscipit harum cupiditate dolores animi amet earum magnam nulla consequuntur quibusdam minus esse nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ipsam voluptatum voluptate facilis nulla dolor consectetur. Nisi, amet repudiandae illum quaerat vitae consectetur animi. Commodi, repellendus sequi eligendi accusantium voluptatum.</p>
        </div>
      </div>
      
      <div class = "col-lg-4 col-sm-12">
        <div class = "well">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/FU27bEz1R1k" frameborder="0" allowfullscreen></iframe>
           <h3>Top plays of 2016 WiiU</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, ab, eos nam error eligendi labore excepturi suscipit harum cupiditate dolores animi amet earum magnam nulla consequuntur quibusdam minus esse nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ipsam voluptatum voluptate facilis nulla dolor consectetur. Nisi, amet repudiandae illum quaerat vitae consectetur animi. Commodi, repellendus sequi eligendi accusantium voluptatum.</p>
        </div>
      </div>
      
      <div class = "col-lg-4 col-sm-12">
        <div class = "well">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/dqbMgZfqdsI" frameborder="0" allowfullscreen></iframe>
           <h3>Top plays of 2016 Smash64</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, ab, eos nam error eligendi labore excepturi suscipit harum cupiditate dolores animi amet earum magnam nulla consequuntur quibusdam minus esse nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ipsam voluptatum voluptate facilis nulla dolor consectetur. Nisi, amet repudiandae illum quaerat vitae consectetur animi. Commodi, repellendus sequi eligendi accusantium voluptatum.</p>
        </div>
      </div>
      
    </div>
    
    <div class = "row">
      
      <div class = "col-lg-4 col-sm-12">
        <div class = "well">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/l98SRO_LOrI" frameborder="0" allowfullscreen></iframe>
           <h3>Canada Cup Top 8 Trailer</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, ab, eos nam error eligendi labore excepturi suscipit harum cupiditate dolores animi amet earum magnam nulla consequuntur quibusdam minus esse nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ipsam voluptatum voluptate facilis nulla dolor consectetur. Nisi, amet repudiandae illum quaerat vitae consectetur animi. Commodi, repellendus sequi eligendi accusantium voluptatum.</p>
        </div>
      </div>
      
      <div class = "col-lg-4 col-sm-12">
        <div class = "well">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/gDIyCp4tpMg" frameborder="0" allowfullscreen></iframe>
           <h3>Partners in Shine - Ice & Leffen</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, ab, eos nam error eligendi labore excepturi suscipit harum cupiditate dolores animi amet earum magnam nulla consequuntur quibusdam minus esse nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ipsam voluptatum voluptate facilis nulla dolor consectetur. Nisi, amet repudiandae illum quaerat vitae consectetur animi. Commodi, repellendus sequi eligendi accusantium voluptatum.</p>
        </div>
      </div>
      
      <div class = "col-lg-4 col-sm-12">
        <div class = "well">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/5ENlmYY-rmQ" frameborder="0" allowfullscreen></iframe>
           <h3>Top n0ne plays 2016</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, ab, eos nam error eligendi labore excepturi suscipit harum cupiditate dolores animi amet earum magnam nulla consequuntur quibusdam minus esse nobis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, ipsam voluptatum voluptate facilis nulla dolor consectetur. Nisi, amet repudiandae illum quaerat vitae consectetur animi. Commodi, repellendus sequi eligendi accusantium voluptatum.</p>
        </div>
      </div>
      
    </div>
    
  </div>
</section>