/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

.title-page{
  background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(http://i.imgur.com/zhM35xM.jpg);
  height:100vh;
  background-position: center;
  background-size:cover;
  margin-bottom: 50px;
  color:white;
}


.jumbotron{
  position: relative;
  top: 150px;
  opacity: 0.8;
  background-color:rgba(41, 58, 72, 0);
  text-align: center;
}

body {
    background-image: url(http://i.imgur.com/o33C6oe.jpg), url(http://i.imgur.com/HoKhG5X.jpg), url(http://i.imgur.com/M1uWa30.jpg);
    background-repeat: repeat-x, repeat-x, repeat;
    background-attachment: fixed;
}

nav.navbar.navbar-default {
  margin-bottom: 0px;
}

.navbar-default{
  background-color: #414345;
  border: #414345;
}

.navbar-default .navbar-brand {
    color: white;
    text: 24px;
}

#custom-navbar .navbar-default{
  min-height:60px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  position: relative;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  margin-right: -30px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  
}



/* Style all font awesome icons */

#social-media{
  margin-bottom: 30px;
  right: 30px;
}

#social-media p{
  font-size: small;
}

#social-media .fa {
    padding: 30px;
    font-size: 50px;
    width: 270px;
    height: 200px;
    text-align: center;
    text-decoration: none;
}

#custom-navbar .fa {
    position:relative;
    font-size: 40px;
    height:40px;
    width:40px;
    float:right;
    margin-left:10px;
    margin-top:10px;
    text-align:center;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.9;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* YouTube */
.fa-youtube {
    background: #e52d27;
    color: white;
}

/* Twitch */
.fa-twitch {
    background: #6441a5;
    color: white;
}

#social-media h1{
  text-align: center;
}

#social-media h3{
  text-align: center;
  padding-bottom: 30px;
} 


/* Team members */

.team-member{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color:#414345;
  margin-top: 40px;
  margin-bottom: 40px;
}

.team-member img{
  flex-shrink: 0;
  max-width: 500px;
}

.team-profile-photo{
  position: static;
  display: block;
  float: right;
  max-width: 500px;
  bottom: 40px;
}

.player-description{
  position:relative;
  color:white;
  text-align: center;
}

.player-description p{
  padding-left: 10px;
  padding-right: 10px;
}

.player-tag{
  font-style: normal;
  font-size: 150%;
  text-transform: uppercase;
}

#player-social-media .fa {
    position:relative;
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin-left:10px;
    text-align:center;
}


.video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
